<nav class="navbar" role="navigation">
    <div class="container">
        <ul class="nav-items">
            <li class="home">
                <a class="home" href="/"><i class="fa fa-home"></i>   Home</a>
            </li>
            <li>
                <a class="item" href="{{ site.baseurl }}/search/">Search</a>
            </li>
            <li>
                <a class="item" href="{{ site.baseurl }}/projects/">Projects</a>
            </li>
            <li>
                <a class="item" href="{{ site.baseurl }}/posts/">Posts</a>
            </li>
        </ul>
    </div>
</nav>
